.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--primary);
  height: 65vh;
}

.container h4 {
  width: 50%;
  font-size: 1.65em;
  font-weight: 300;
  color: white;
}

.container span {
  font-weight: 600;
  color: var(--secondary);
}



@media only screen and (max-width: 780px) {
  .container h4 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1200px) {
  .container h4 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1500px) {

}