.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  color: var(--primary);
}

.container h4 {
  width: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: white;
}

.container span {
  font-weight: 600;
  color: var(--secondary);
}