.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6%;
  height: 100%;
}

.container > img {
  width: 50%;
  padding: 3% 0 0 0;
}

.container > h1 {
  color: var(--secondary);
}

.container a:first-of-type{
  float: left;
  width: 20%;
  z-index: 10;
  margin-left: 45%;
  margin-top: -15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* color: rgb(14, 0, 66); */
  font-weight: 7  00;
  font-size: 1.35em;
}


.container a:last-of-type{
  float: left;
  width: 20%;
  z-index: 10;
  margin-left: 30%;
  margin-top: -.25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* color: rgb(14, 0, 66); */
  font-weight: 700;
  font-size: 1.35em;
}