.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container > h1 {
  color: var(--secondary);
}

.container > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100%;
}

.container > section > a {
  color: var(--primary);
  background-color: white;
  border-radius: 10px;
  font-size: 1.25rem;
  width: 500px;
  margin: 20% 10% 5% 10%;
  padding: 5%;
  width: 500PX;
}

.container > section > a:hover {
  font-weight: 800;
}

.primaryButton {
  background-color: var(--primary);
  color: white;
  width: 80px;
  font-weight: 500;
}


@media only screen and (max-width: 780px) {
  .container p {
    padding: 10%;
  }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1500px) {

}