.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6%;
  height: 100%;
}

.container > img {
  width: 50%;
  padding: 3% 0 0 0;
}

.container > h1 {
  color: var(--primary);
}

.container div {
  float: left;
  width: 20%;
  z-index: 10;
  margin-left: 39%;
  margin-top: -12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container a {
  color: white;
  font-weight: 800;
  font-size: 1.65rem;
}
