main {
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container > section {
  width: 400px;
  min-height: 100px;
  padding: 2%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: -1px 10px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:white;
}

.container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2% 0;
}

.container summary {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.container summary > img {
  width: 60px;
  /* background-color: var(--primary); */
  padding: 10px;
  /* border: 1px solid red; */
}

.container h1 {
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  width: fit-content;
  margin: 10%;
}

.container > details {
  padding: 3%;
}