.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 425px;
}

.container > section {
  width: 500px;
  min-height: 120px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: -1px 10px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:white;
  width: 100%;
}

.container a {
  width: 50px;
}

.container h2 {
  width: 425px;
  margin: 0 20px;
}

.container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2% 0;
}

/* section .container details[open]{
  background-color: var(--secondary);
} */

.container > section:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

.container summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 0 0 0 2%;
}


.container summary > img {
  width: 60px;
  /* background-color: var(--primary); */
  padding: 10px;
  /* border: 1px solid red; */
}

.container h1 {
  color: black;
  font-size: 1.65rem;
  font-weight: 600;
  margin: 0 0 0 20px;
  /* width: 100%; */
}

.container > details {
  padding: 3%;
  margin: 0 0 0 2%;
  width: 100%;
  /* width: 300px; */

}


@media only screen and (max-width: 780px) {
  .container > section {
    width: 320px;
  }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1500px) {

}