.container div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container div > img {
  width: 4%;
  padding-right: 10px;
}

.container h1 {
  color: rgb(225, 29, 94);
  font-size: 2.5em;
  /* margin: 10px 0; */
}