.container {
  width: 100%;
  display: grid;
  grid-column-start: 1;
  grid-template-rows: repeat(3, 5vmin);
  grid-template-columns: 35% 65%;
  grid-gap: 2.5%;
  justify-items: start;
}

.label,
.button, .primaryButton {
  margin-right: 0.5rem;
  width: 80px;
  font-weight: 500;
  color: var(--primary);
}

.primaryButton {
  background-color: var(--primary);
  color: white;
  margin-top: 10px;  
}

.container > div {
  width: 100%;
}

.container > div > input {
  border: none;
  border-radius: 5px;
  background-color: white;
  margin: 5% 0;
  width: 95%;
  min-height: 22px;
  color: var(--primary);
  font-family: 'Poppins', sans-serif;
}

.label {
  margin: 5% 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

