.container {
  display: grid;
  grid-column-start: 1;
  grid-template-rows: repeat(3, 5vmin);
  grid-template-columns: 35% 65%;
  grid-gap: 3%;
}

.label,
.button, .primaryButton {
  margin-right: 0.5rem;
  width: 80px;
  font-weight: 500;
  color: var(--primary);
}

.primaryButton {
  background-color: var(--primary);
  color: white;
}

.container > div > input {
  border: none;
  border-radius: 5px;
  background-color: white;
  margin: 5% 0;
  width: 95%;
}

.label {
  margin: 5% 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px red solid; */
  margin-bottom: 6rem;
}
