/* .container > article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2% 0;
  width: 80%;
} */

/* .container > button {
  border-radius: 5px;
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0;
  width: 30px;
}

.container > summary > img {
  background: none;
  border: none;
  min-width: 18px;
  min-height: 18px;
  padding: 0;
}

.container > button > img:hover {
  background-color: var(--hover);
  -webkit-box-shadow: 0 0 5px 2px var(--hover);
  -moz-box-shadow: 0 0 5px 2px var(--hover);
  box-shadow: 0 0 5px 2px var(--hover);
} */

.container > a {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 5%; */
  font-size: .9rem;
  flex-wrap: wrap;
}

/* .container > a > h2 {
  margin: 0;
  font-size: 1rem;
  flex-wrap: wrap;
  width: 95%;

} */

/* 
.container a:hover {
  color: red;
} */

/* .container > article > a > h2 {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  line-height: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  scroll-snap-align: start;
  max-width: 500px;
  
} */

.container > article > a:hover {
  font-weight: 600;
}

@media only screen and (max-width: 780px) {
  .container h2 {
    margin: 0;
    font-size: .8rem;
    flex-wrap: wrap;
    max-width: 200px;
  }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1500px) {

}