.container {
  /* width: 100%; */
  display: flex;
  align-items: center;
  flex-wrap: wrap
}

.container > h1 {
  text-align: center;
  color: var(--secondary);
}

.container > section {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2%;
}

.container > article {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  height: 380px;
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--boxcolor);
  box-shadow: -1px 10px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.container > div:first-child {
  display: flex;
  height: 80px;
  padding-bottom: 20px;
}

.container > div:first-child > span{
  display: flex;
  flex-direction: column;
}

.container > div:first-child > span > h2, h4 {
  margin: 0 0 0 15px;
}

.container a {
  font-weight: 400;
  font-size: .8em;
  margin: 0 0 0 15px;
}

.container > div > img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: -1px 10px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.container > div > h2 {
  margin: 0 0 0 10px;
  font-size: 1.35em;
  /* padding-right: 10px;; */
}

.container > div:last-child {
  display: flex;
  justify-content: center;
  overflow:scroll;
  scroll-snap-type: y mandatory;
}

.container > div > p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 30% 0;
  line-height: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  scroll-snap-align: start;
}

.container > div > p:hover {
  font-weight: 400;
}