.container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
}

.container header{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  background-color: rgb(229, 171, 171);
  box-shadow: -1px 10px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.container > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 5%;
}

.container header > img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: -1px 10px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.container header > section > h1, h4 {
  font-size: 1.5em;
  margin: 0 0 5px 0;
}

.container header > section > div {
  overflow: scroll;
  scroll-snap-type: y mandatory;
  margin-bottom: 10px;
}

.container header > section > div > p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  scroll-snap-align: start;
  margin: 4px 0 0px 0;
}

.container header > section > div > p:hover {
  font-weight: 400;
}

.container > section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card article {
  display: flex;
  flex-direction: row;
}

.container a:first-child {
  font-weight: 600;
  font-size: .8em;
}
