.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  min-width: 60%;
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--boxcolor);
  box-shadow: -1px 10px 19px -5px var(--primary);
  -moz-box-shadow: -1px 5px 19px -5px var(--primary);
  -webkit-box-shadow: -1px 5px 19px -5px var(--primary);
}

.container h2 {
  color: var(--primary);
  margin: 0;
}

.container > div > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  padding-left: 5%;
}

.container > div > img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 0;
  box-shadow: -1px 10px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.container > div > section > h1, h4, a {
  font-size: 1.25em;
  margin: 0 0 5px 0px;
  align-items: baseline;
}

.container > h1 {
  color: var(--secondary);
  text-align: center;
  margin: 2% 0;
}

.container > div > section > div {
  overflow: scroll;
  scroll-snap-type: y mandatory;
  margin-bottom: 10px;
  width: 100%;
}

.container > div > section > div > p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  scroll-snap-align: start;
  margin: 0;
  padding: 3% 0;

}

.container > header > section > div > p:hover {
  font-weight: 400;
}

.container > section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container > article  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card article{
  padding: 0;
  margin-left: 10px;
}


.container div {
  width: 600px;
}

.card article {
  display: flex;
  flex-direction: row;
}

.container a {
  font-weight: 400;
  font-size: .9em;
}

