header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
}

nav {
  display: flex;
  align-items: center;
  padding: .5% 3%;
  background-color: rgb(14, 0, 66);
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  padding: 0 10px;
  text-align: center;
  width:max-content;
}

nav a {
  font-size: 1.25em;
  font-weight: 500;

} 

header img {
  width: 160px;
  padding: 10% 5% 5% 20%;
}
