header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 10;
}

nav {
  /* width: 100%; */
  display: flex;
  /* justify-items: center; */
  justify-content: space-between;
  align-items: center;

  /* position: fixed; */
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5% 0%;
}

nav > ul > li {
  padding: 0 10px;
  text-align: center;
}

nav a {
  font-size: 1.25em;
  font-weight: 500;

} 

header img {
  width: 100%;
}
