nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5% 3%;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  padding: 0 10px;
}

nav  a {
  font-size: 1.25em;
  font-weight: 500;
} 

