.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
}

/* .container > h4 {
  font-weight: 400;
  margin: 0;
} */

.container > img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.container > div > h4 {
  padding: 0 0 0 10px;
  margin: 0;
  font-weight: 400;
}