/* * {
  border: 1px red solid;
} */

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: rgb(214, 160, 160);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(225, 29, 94);
}

a:hover {
  color: palegreen;
}

li {
  list-style: none;
}