
/* * {
  border: 1px red solid;
} */

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  overflow: hidden;
  margin: 0;
  /* background-color: rgb(214, 160, 160); */
  background-color: rgb(189, 188, 188);
  font-family: 'Albert Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: rgb(12, 115, 241);
  --fontcolor: white;
  --hover: palegreen;
  --boxcolor:   background-color: rgb(229, 171, 171);

}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12%;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 5px;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-family: 'Albert Sans', sans-serif;
  background-color: var(--boxcolor);
  box-shadow: -1px 10px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:hover {
  color: var(--hover);
  font-weight: 600;
}

li {
  list-style: none;
}

form {
  width: 100%;
  display: flex;
  max-width: 500px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--boxcolor);
  padding: 21px 21px 28px 21px;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

select {
  font-size: 16px;
  font-weight: 400px;
  margin: 0;
  padding: 5px;
  color:gray;
  height: 32px;
  border-radius: 5px;
  border: none;
}

label {
  font-size: 16px;
  margin: 15px 0 0 0;
  color:var(--fontcolor);
  height: 32px;
  border-radius: 5px;
  font-size: 18px;
  margin: 0;
}

