* {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  background-color: rgb(14, 0, 66);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: rgb(12, 115, 241);
  --secondary: rgb(247, 228, 79);
  --fontcolor: white;
  --hover: rgb(247, 228, 79);
  --boxcolor:  rgb(228, 225, 225);
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;

}

form {
  display: flex;
  flex-direction: column;
}

button {
  color: var(--primary);
  margin: 5px;
  padding: 5px;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: var(--boxcolor);
  box-shadow: -1px 10px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary);
}

a:hover {
  color: var(--hover);
  font-weight: 600;
  cursor: pointer;
}

a:focus {
  color: var(--hover);
  font-weight: 600;
}

li {
  list-style: none;
}

form {
  width: 100%;
  display: flex;
  max-width: 500px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--boxcolor);
  padding: 21px 21px 28px 21px;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  font-family: 'Poppins', sans-serif;
}

form > input {
  min-height: 25px;
  color: var(--primary);
  border: none;
  border-radius: 5px;
  background-color:white;
  margin: 5% 0;
  width: 95%;
  /* min-height: 22px; */
  color: var(--primary);
  font-family: 'Poppins', sans-serif;
}

select {
  font-size: 16px;
  font-weight: 400px;
  margin: 0;
  padding: 5px;
  color:gray;
  height: 22px;
  border-radius: 5px;
  border: none;
}

label {
  font-size: 16px;
  margin: 15px 0 0 0;
  color:var(--primary);
  height: 32px;
  border-radius: 5px;
  font-size: 18px;
  margin: 0;
}



@media only screen and (max-width: 780px) {
  /* width: 300px; */
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1500px) {

}